.siteFooter
{
    background-color: #090909;
    font-size:15px;
    line-height:24px;
    color:#737373;
}

.container {
    padding: 25px;
    margin: 0 auto;
    width: clamp(250px, calc(100% - 100px), 1250px);
}

.Section {
    text-align: center;
}

.siteFooter h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.siteFooter a
{
    color:#737373;
}
.siteFooter a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footerLinks
{
    padding-left:0;
    list-style:none
}
.footerLinks li
{
    display:block
}
.footerLinks a
{
    color:#737373
}
.footerLinks a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footerLinks
{
    display:flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
}
.siteFooter .social-icons
{
    text-align:right
}
.siteFooter .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#33353d
}
.copyrightText
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
@media (max-width:991px)
{
    .siteFooter [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .siteFooter
    {
        padding-bottom:0
    }
    .siteFooter .copyrightText,.siteFooter .social-icons
    {
        text-align:center
    }
}
.socialIcons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.socialIcons li
{
    display:inline-block;
    margin-bottom:4px
}
.socialIcons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.socialIcons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.socialIcons a:active,.socialIcons a:focus,.socialIcons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.socialIcons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.socialIcons a.facebook:hover
{
    background-color:#3b5998
}
.socialIcons a.twitter:hover
{
    background-color:#00aced
}
.socialIcons a.linkedin:hover
{
    background-color:#007bb6
}
.socialIcons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .socialIcons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}